In [1]:
import pandas as pd
import numpy as np

In [2]:
#Files to load
vehicle_crashes = "Resources/Motor_Vehicle_Crashes_-_Vehicle_Information__Three_Year_Window (1).csv"

In [3]:
vehicle_crashes_df = pd.read_csv(vehicle_crashes)
vehicle_crashes_df

,Year,Case Vehicle ID,Vehicle Body Type,Registration Class,Action Prior to Accident,Type / Axles of Truck or Bus,Direction of Travel,Fuel Type,Vehicle Year,State of Registration,Number of Occupants,Engine Cylinders,Vehicle Make,Contributing Factor 1,Contributing Factor 1 Description,Contributing Factor 2,Contributing Factor 2 Description,Event Type,Partial VIN
0,2019,15350252,4 DOOR SEDAN,PASSENGER OR SUBURBAN,Going Straight Ahead,Not Entered,North,Gas,2016.0,NY,1.0,4.0,TOYOT,HUMAN,Lost Consciousness,HUMAN,Illness,Not Entered,2T1BURHE2GC571717
1,2019,16323841,4 DOOR SEDAN,PASSENGER OR SUBURBAN,Making Right Turn,Not Entered,Southeast,Gas,2007.0,NY,1.0,4.0,HYUND,HUMAN,Turning Improperly,HUMAN,Not Applicable,Not Applicable,KMHDU46D47U022363
2,2019,16323842,SUBURBAN,Not Entered,Making Left Turn,Not Entered,Northwest,Not Entered,2016.0,NJ,2.0,NaN,LEXS,HUMAN,Not Applicable,HUMAN,Not Applicable,Not Applicable,2T2BZMCAXGC040009
3,2019,16323847,SUBURBAN,PASSENGER OR SUBURBAN,Making Left Turn,Not Entered,North,Gas,2007.0,NY,2.0,4.0,TOYOT,HUMAN,Unknown,HUMAN,Not Applicable,Not Applicable,JTEGD21A470165836
4,2019,16323848,4 DOOR SEDAN,Not Entered,Making Left Turn,Not Entered,North,Not Entered,NaN,NY,2.0,NaN,NaN,ENVMT,View Obstructed/Limited,ENVMT,Pavement Slippery,Not Applicable,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648848,2018,17097774,2 DOOR SEDAN,PASSENGER OR SUBURBAN,Parked,Not Entered,East,Gas,2017.0,NY,0.0,6.0,DODGE,HUMAN,Not Entered,HUMAN,Not Entered,Not Entered,2C3CDZAG6HH640890
1648849,2018,17097775,PICKUP TRUCK,Not Entered,Parked,Not Entered,Southwest,Not Entered,NaN,NY,0.0,NaN,NaN,HUMAN,Not Entered,HUMAN,Not Entered,Not Entered,NaN
1648850,2018,17097777,UNKNOWN VEHICLE,Not Entered,Unknown,Not Entered,Unknown,Not Entered,NaN,NaN,NaN,NaN,NaN,HUMAN,Not Entered,HUMAN,Not Entered,Not Entered,NaN
1648851,2018,17097778,PEDESTRIAN,Not Entered,Not Applicable,Not Entered,Not Applicable,Not Entered,NaN,NaN,NaN,NaN,NaN,HUMAN,Not Entered,HUMAN,Not Entered,Not Entered,NaN
1648852,2018,17099265,PEDESTRIAN,Not Entered,Not Applicable,Not Entered,Not Applicable,Not Entered,NaN,NaN,NaN,NaN,NaN,HUMAN,Not Applicable,HUMAN,Not Applicable,Not Entered,NaN

In [4]:
vehicle_crashes_df.count()

Year                                 1648853
Case Vehicle ID                      1648853
Vehicle Body Type                    1648853
Registration Class                   1648853
Action Prior to Accident             1648853
Type / Axles of Truck or Bus         1648853
Direction of Travel                  1648853
Fuel Type                            1648853
Vehicle Year                         1376105
State of Registration                1524749
Number of Occupants                  1517540
Engine Cylinders                     1297963
Vehicle Make                         1377587
Contributing Factor 1                1648853
Contributing Factor 1 Description    1648853
Contributing Factor 2                1648853
Contributing Factor 2 Description    1648853
Event Type                           1618642
Partial VIN                          1345784
dtype: int64

In [5]:
vehicle_crashes_df=vehicle_crashes_df.drop_duplicates(subset=['Case Vehicle ID'])

In [6]:
vehicle_crashes_df.count()

Year                                 1648849
Case Vehicle ID                      1648849
Vehicle Body Type                    1648849
Registration Class                   1648849
Action Prior to Accident             1648849
Type / Axles of Truck or Bus         1648849
Direction of Travel                  1648849
Fuel Type                            1648849
Vehicle Year                         1376104
State of Registration                1524745
Number of Occupants                  1517536
Engine Cylinders                     1297962
Vehicle Make                         1377586
Contributing Factor 1                1648849
Contributing Factor 1 Description    1648849
Contributing Factor 2                1648849
Contributing Factor 2 Description    1648849
Event Type                           1618638
Partial VIN                          1345783
dtype: int64

In [7]:
display(vehicle_crashes_df.dtypes)

Year                                   int64
Case Vehicle ID                        int64
Vehicle Body Type                     object
Registration Class                    object
Action Prior to Accident              object
Type / Axles of Truck or Bus          object
Direction of Travel                   object
Fuel Type                             object
Vehicle Year                         float64
State of Registration                 object
Number of Occupants                  float64
Engine Cylinders                     float64
Vehicle Make                          object
Contributing Factor 1                 object
Contributing Factor 1 Description     object
Contributing Factor 2                 object
Contributing Factor 2 Description     object
Event Type                            object
Partial VIN                           object
dtype: object

In [8]:
vehicle_crashes_df = vehicle_crashes_df.fillna(0)
#vehicle_crashes_df.birth_year.astype(int)

In [9]:
vehicle_crashes_df['Number of Occupants'] = vehicle_crashes_df['Number of Occupants'].astype(int)

In [10]:
vehicle_crashes_df['Engine Cylinders'] = vehicle_crashes_df['Engine Cylinders'].astype(int)

In [11]:
#vehicle_crashes_df.to_csv('Vehicle_Crash_Update.csv', index = False)

In [12]:
#install sqlalchemy
from sqlalchemy import create_engine
import psycopg2
from config import dp_password

In [13]:
"postgres://postgres:@127.0.0.1:59055/final-challenge/"

'postgres://postgres:@127.0.0.1:59055/final-challenge/'

In [14]:
db_string = f"postgresql://postgres:{dp_password}@127.0.0.1:5433/vehicle_crashes"

In [15]:
engine = create_engine(db_string)

In [16]:
engine.connect()

In [18]:
vehicle_crashes_df.to_sql(name='Crashes', con=engine)

In [ ]:
# create a variable for the number of rows imported
rows_imported = 0
for data in pd.read_csv(f'/Vehicle_Registrations.csv', chunksize=1000000):

    # print out the range of rows that are being imported
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')

    vehichle_re.to_sql(name='Registrations', con=engine, if_exists='append')

    # increment the number of rows imported by the size of 'data'
    rows_imported += len(data)

    # print that the rows have finished importing
    print('Done.')