In [1]:
import pandas as pd
import numpy as np

In [2]:
#Files to load
vehicle_crashes = "Resources/Motor_Vehicle_Crashes_-_Vehicle_Information__Three_Year_Window (2) (1).csv"

In [3]:
vehicle_crashes_df = pd.read_csv(vehicle_crashes)

In [4]:
vehicle_crashes_df.count()

Year                                 1648853
Case Vehicle ID                      1648853
Vehicle Body Type                    1648853
Registration Class                   1648853
Action Prior to Accident             1648853
Type / Axles of Truck or Bus         1648853
Direction of Travel                  1648853
Fuel Type                            1648853
Vehicle Year                         1376105
State of Registration                1524749
Number of Occupants                  1517540
Engine Cylinders                     1297963
Vehicle Make                         1377587
Contributing Factor 1                1648853
Contributing Factor 1 Description    1648853
Contributing Factor 2                1648853
Contributing Factor 2 Description    1648853
Event Type                           1618642
Partial VIN                          1345784
dtype: int64

In [5]:
vehicle_crashes_df=vehicle_crashes_df.drop_duplicates(subset=['Case Vehicle ID'])

In [6]:
vehicle_crashes_df.count()

Year                                 1648849
Case Vehicle ID                      1648849
Vehicle Body Type                    1648849
Registration Class                   1648849
Action Prior to Accident             1648849
Type / Axles of Truck or Bus         1648849
Direction of Travel                  1648849
Fuel Type                            1648849
Vehicle Year                         1376103
State of Registration                1524745
Number of Occupants                  1517536
Engine Cylinders                     1297961
Vehicle Make                         1377585
Contributing Factor 1                1648849
Contributing Factor 1 Description    1648849
Contributing Factor 2                1648849
Contributing Factor 2 Description    1648849
Event Type                           1618638
Partial VIN                          1345782
dtype: int64

In [8]:
display(vehicle_crashes_df.dtypes)

Year                                   int64
Case Vehicle ID                        int64
Vehicle Body Type                     object
Registration Class                    object
Action Prior to Accident              object
Type / Axles of Truck or Bus          object
Direction of Travel                   object
Fuel Type                             object
Vehicle Year                         float64
State of Registration                 object
Number of Occupants                  float64
Engine Cylinders                     float64
Vehicle Make                          object
Contributing Factor 1                 object
Contributing Factor 1 Description     object
Contributing Factor 2                 object
Contributing Factor 2 Description     object
Event Type                            object
Partial VIN                           object
dtype: object

In [12]:
vehicle_crashes_df = vehicle_crashes_df.fillna(0)
#vehicle_crashes_df.birth_year.astype(int)

In [13]:
vehicle_crashes_df['Number of Occupants'] = vehicle_crashes_df['Number of Occupants'].astype(int)

In [14]:
vehicle_crashes_df['Engine Cylinders'] = vehicle_crashes_df['Engine Cylinders'].astype(int)

In [15]:
vehicle_crashes_df.to_csv('Vehicle_Crash_Update.csv', index = False)

In [ ]:
#vehicle_crashes_df.dropna(how='all')

In [ ]:
# converting 'Weight' from float to int
#vehicle_crashes_df['Number of Occupants'] = vehicle_crashes_df['Number of Occupants'].astype(int)